html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-size: 100vw 115vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(205, 198, 198);
}

.container {
    font-size: 8cap;
    text-align: center;
    color: white;
    text-shadow: 5px 5px black;
    cursor: default;
}

.p {
    font-size: 0.9cap;
    padding-bottom: 250px;
    margin: 0%;
    cursor: default;
}

a {
   text-decoration-line: none;
   text-align: center;
   display: block;
   color: rgb(0, 0, 0);
   padding: 20px;
   font-size: x-large;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0%;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 0%);
    opacity: 0.7;
}

.navbar {
    display: block;
    text-align: center;
    position: sticky;
    top: 0;
}

.navbar li {
    float: right;
}

.icons {
    font-size: 5cap;
    float: left;
    margin: 5px;
    cursor: default;
    color: rgb(105, 73, 101);
}

h1 {
    font-size: 6cap;
    color: rgb(29, 41, 52);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    width: 25%;
    left: 0;
    border: solid;
    border-radius: 13px;
    margin-top: 30px;
    border-color: grey;
    float: left;
    margin: 50px;
}

.box {
    border: solid;
    margin: 90px;
    float: left;
    box-shadow: 10px 10px rgb(97, 96, 96);
}

p {
    font-size: 3cap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 20px;
}